<div class="title"><h1 class="h1red">Добавление данных</h1></div>
<div class="small">
  <article>
    <table>
      <tr>
        <td>
<div class="cartlist authorization">
  <div class="authorization-content">
    <div class="registration-block">
      <div class="akcotitle">Добавление напитков</div>
      <form id="registration-form" class="form-pop-up-window button-registration">
        <div class="step01">
          <div class="input-group">
            <label>Ссылка на изображение</label>
            <input [(ngModel)]="drinkAdd.urlImg" type="text" class="field w-input" autocomplete="false" data-mask="phone" maxlength="60" name="loginString" placeholder="Url изображения" required="">
          </div>
          <div class="input-group">
            <label>Название напитка</label>
            <input [(ngModel)]="drinkAdd.name" type="text" class="field w-input" autocomplete="false" maxlength="60" name="email" placeholder="Название" required="">
          </div>
          <div class="input-group">
            <label>Описание</label>
            <input [(ngModel)]="drinkAdd.description" type="text" class="field w-input" autocomplete="false" maxlength="16" minlength="6" name="password" placeholder="Описание" required="">
          </div>
          <div class="input-group">
            <label>Цена напитка</label>
            <input [(ngModel)]="drinkAdd.price" type="text" class="field w-input" autocomplete="false" maxlength="16" minlength="6" name="password2" placeholder="Цена" required="">
          </div>

        <div class="registration-button-block">
          <input (click)="addDrink()" type="submit" value="Добавить" class="button registration-button w-button">

        </div>
        </div>
      </form>
    </div>
  </div>
</div>
        </td>
        <td>
          <div class="cartlist authorization">
            <div class="authorization-content">
              <div class="registration-block">
                <div class="akcotitle">Добавление соусов</div>
                <form id="registration-form1" class="form-pop-up-window button-registration">
                  <div class="step01">
                    <div class="input-group">
                      <label>Ссылка на изображение</label>
                      <input [(ngModel)]="sauceAdd.urlImg" type="text" class="field w-input" autocomplete="false" data-mask="phone" maxlength="60" name="loginString" placeholder="Url изображения" required="">
                    </div>
                    <div class="input-group">
                      <label>Название соуса</label>
                      <input [(ngModel)]="sauceAdd.name"  type="text" class="field w-input" autocomplete="false" maxlength="60" name="email" placeholder="Название" required="">
                    </div>
                    <div class="input-group">
                      <label>Описание</label>
                      <input [(ngModel)]="sauceAdd.description"  type="text" class="field w-input" autocomplete="false" maxlength="16" minlength="6" name="password" placeholder="Описание" required="">
                    </div>
                    <div class="input-group">
                      <label>Цена соуса</label>
                      <input [(ngModel)]="sauceAdd.price"  type="text" class="field w-input" autocomplete="false" maxlength="16" minlength="6" name="password2" placeholder="Цена" required="">
                    </div>

                    <div class="registration-button-block">
                      <input (click)="addSauce()" type="submit" value="Добавить" class="button registration-button w-button">

                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </td>
        <td>
        <div class="cartlist authorization">
          <div class="authorization-content">
            <div class="registration-block">
              <div class="akcotitle">Добавление пицц</div>
              <form id="registration-form2" class="form-pop-up-window button-registration">
                <div class="step01">
                  <div class="input-group">
                    <label>Ссылка на изображение</label>
                    <input [(ngModel)]="pizzaAdd.urlImg"  type="text" class="field w-input" autocomplete="false" data-mask="phone" maxlength="60" name="loginString" placeholder="Url изображения" required="">
                  </div>
                  <div class="input-group">
                    <label>Название пиццы</label>
                    <input [(ngModel)]="pizzaAdd.name" type="text" class="field w-input" autocomplete="false" maxlength="60" name="email" placeholder="Название" required="">
                  </div>
                  <div class="input-group">
                    <label>Цена</label>
                    <input [(ngModel)]="pizzaAdd.price" type="text" class="field w-input" autocomplete="false" maxlength="60" name="price" placeholder="Цена" required="">
                  </div>
                  <div class="input-group">
                    <label>Описание</label>
                    <input [(ngModel)]="pizzaAdd.description" type="text" class="field w-input" autocomplete="false" maxlength="16" minlength="6" name="password" placeholder="Описание" required="">
                  </div>
                  <div class="products">
                    <div class="product">
                      <table>
                        <tr *ngFor="let item of ingredients">
                          <td>
                            {{item.name}}
                          </td>
                          <td>
                            <input (click)="deleteIngredientForPizza(item)" type="image"  src="../assets/image/cross1.png" >
                          </td>
                        </tr>
                      </table>

                    </div>

                  </div>

                  <table width="100%">
                    <tr>
                      <td class="t">
                  <div class="select_size">
                    <label>Ингредиенты</label>
                    <select [(ngModel)]="select" name="first" >
                      <option *ngFor="let item of data" [ngValue]="item">{{item.name}}</option>
                    </select>
                  </div>
                      </td>
                      <td class="t">
                  <div class="registration-button-block">

                    <input (click)="addIngredientForPizza()" type="submit" value="Добавить в список " class="button registration-button w-button add" width="100px">
                  </div>
                      </td>
                    </tr>
                  </table>
                  <div class="registration-button-block">
                    <input (click)="addPizza()" type="submit" value="Добавить" class="button registration-button w-button ad">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </td>
        <td>
          <div class="cartlist authorization">
            <div class="authorization-content">
              <div class="registration-block">
                <div class="akcotitle">Добавление ингредиентов</div>
                <form id="registration-form3" class="form-pop-up-window button-registration">
                  <div class="step01">
                    <div class="input-group">
                      <label>Название ингредиента</label>
                      <input [(ngModel)]="ingredientAdd.name" type="text" class="field w-input" autocomplete="false" maxlength="60" name="email" placeholder="Название" required="">
                    </div>
                    <div class="input-group">
                      <label>Цена</label>
                      <input [(ngModel)]="ingredientAdd.price" type="text" class="field w-input" autocomplete="false" maxlength="16" minlength="6" name="password" placeholder="Цена" required="">
                    </div>
                    <div class="input-group">
                      <label>Калорийность</label>
                      <input [(ngModel)]="ingredientAdd.caloricity" type="text" class="field w-input" autocomplete="false" maxlength="16" minlength="6" name="password" placeholder="Калорийность" required="">
                    </div>
                    <div class="input-group">
                      <label>Вес</label>
                      <input [(ngModel)]="ingredientAdd.weight" type="text" class="field w-input" autocomplete="false" maxlength="16" minlength="6" name="password" placeholder="Вес" required="">
                    </div>

                    <div class="registration-button-block">
                      <input (click)="addIngredient()" type="submit" value="Добавить" class="button registration-button w-button">

                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </td>
      </tr>
    </table>

  </article>
</div>
