<div class="title"><h1 class="h1red">Добавление данных</h1></div>
<div class="small">
  <article>
    <table>
      <tr>
        <td>
<div class="cartlist authorization">
  <div class="authorization-content">
    <div class="registration-block">
      <div class="akcotitle">Добавление напитка</div>
      <form id="registration-form" class="form-pop-up-window button-registration">
        <div class="step01">
          <div class="input-group">
            <label>Ссылка на изображение</label>
            <input type="text" class="field w-input" autocomplete="false" data-mask="phone" maxlength="60" name="loginString" placeholder="Url изображения" required="">
          </div>
          <div class="input-group">
            <label>Название напитка</label>
            <input type="text" class="field w-input" autocomplete="false" maxlength="60" name="email" placeholder="Название" required="">
          </div>
          <div class="input-group">
            <label>Описание</label>
            <input type="text" class="field w-input" autocomplete="false" maxlength="16" minlength="6" name="password" placeholder="Описание" required="">
          </div>
          <div class="input-group">
            <label>Цена напитка</label>
            <input type="text" class="field w-input" autocomplete="false" maxlength="16" minlength="6" name="password2" placeholder="Цена" required="">
          </div>

        <div class="registration-button-block">
          <input type="submit" value="Добавить" class="button registration-button w-button">

        </div>
        </div>
      </form>
    </div>
  </div>
</div>
        </td>
        <td>
          <div class="cartlist authorization">
            <div class="authorization-content">
              <div class="registration-block">
                <div class="akcotitle">Добавление соусов</div>
                <form id="registration-form1" class="form-pop-up-window button-registration">
                  <div class="step01">
                    <div class="input-group">
                      <label>Ссылка на изображение</label>
                      <input type="text" class="field w-input" autocomplete="false" data-mask="phone" maxlength="60" name="loginString" placeholder="Url изображения" required="">
                    </div>
                    <div class="input-group">
                      <label>Название соуса</label>
                      <input type="text" class="field w-input" autocomplete="false" maxlength="60" name="email" placeholder="Название" required="">
                    </div>
                    <div class="input-group">
                      <label>Описание</label>
                      <input type="text" class="field w-input" autocomplete="false" maxlength="16" minlength="6" name="password" placeholder="Описание" required="">
                    </div>
                    <div class="input-group">
                      <label>Цена соуса</label>
                      <input type="text" class="field w-input" autocomplete="false" maxlength="16" minlength="6" name="password2" placeholder="Цена" required="">
                    </div>

                    <div class="registration-button-block">
                      <input type="submit" value="Добавить" class="button registration-button w-button">

                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </td>
        <td>
        <div class="cartlist authorization">
          <div class="authorization-content">
            <div class="registration-block">
              <div class="akcotitle">Добавление пицц</div>
              <form id="registration-form2" class="form-pop-up-window button-registration">
                <div class="step01">
                  <div class="input-group">
                    <label>Ссылка на изображение</label>
                    <input type="text" class="field w-input" autocomplete="false" data-mask="phone" maxlength="60" name="loginString" placeholder="Url изображения" required="">
                  </div>
                  <div class="input-group">
                    <label>Название пиццы</label>
                    <input type="text" class="field w-input" autocomplete="false" maxlength="60" name="email" placeholder="Название" required="">
                  </div>
                  <div class="input-group">
                    <label>Описание</label>
                    <input type="text" class="field w-input" autocomplete="false" maxlength="16" minlength="6" name="password" placeholder="Описание" required="">
                  </div>
                  <div class="products">
                    <div class="product">
                      <table>
                        <tr>
                          <td>
                            ингредиент
                          </td>
                          <td>
                            <input type="image"  src="../assets/image/cross1.png" >
                          </td>
                        </tr>
                      </table>

                    </div>

                  </div>

                  <table>
                    <tr>
                      <td>
                  <div class="select_size">
                    <label>Ингредиенты</label>
                    <select >
                      <option>1</option>
                    </select>
                  </div>
                      </td>
                      <td>
                  <div class="registration-button-block">
                    <input type="submit" value="Добавить в список ингредиентов" class="button registration-button w-button">
                  </div>
                      </td>
                    </tr>
                  </table>
                  <div class="registration-button-block">
                    <input type="submit" value="Добавить" class="button registration-button w-button">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </td>
        <td>
          <div class="cartlist authorization">
            <div class="authorization-content">
              <div class="registration-block">
                <div class="akcotitle">Добавление ингредиентов</div>
                <form id="registration-form3" class="form-pop-up-window button-registration">
                  <div class="step01">
                    <div class="input-group">
                      <label>Название ингредиента</label>
                      <input type="text" class="field w-input" autocomplete="false" maxlength="60" name="email" placeholder="Название" required="">
                    </div>
                    <div class="input-group">
                      <label>Цена</label>
                      <input type="text" class="field w-input" autocomplete="false" maxlength="16" minlength="6" name="password" placeholder="Описание" required="">
                    </div>
                    <div class="input-group">
                      <label>Калорийность</label>
                      <input type="text" class="field w-input" autocomplete="false" maxlength="16" minlength="6" name="password" placeholder="Описание" required="">
                    </div>
                    <div class="input-group">
                      <label>Вес</label>
                      <input type="text" class="field w-input" autocomplete="false" maxlength="16" minlength="6" name="password" placeholder="Описание" required="">
                    </div>

                    <div class="registration-button-block">
                      <input type="submit" value="Добавить" class="button registration-button w-button">

                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </td>
      </tr>
    </table>

  </article>
</div>
