<h1 class="h1red">Контакты</h1>
<div class="small">
  <article>

    <div class="restcard" data-item="0">
      <a data-id="5a09d1f6be8996bccb3c7c6b" class="photo restor-link w-inline-block">
        <img src="https://new.telepizza-russia.ru:8776/public/images/1520837613857-pros09.JPG">
      </a>
      <div class="info">
        <div class="infotext">
          <div class="restourant">РЕСТОРАН НА ПРОСВЕЩЕНИЯ</div>
          <div class="metro">
            <img class="m-color" src="images/m-blue.png">
            <div class="name">Проспект просвещения</div>
          </div>
          <div class="addres">пр-кт Просвещения, дом 25</div>
        </div>
        <div class="fasticons">
          <div class="icofas">
            <img src="images/wifi.png" height="18" tooltipster="bottom" class="wico tooltipstered">

            <img src="images/horse.png" height="18" tooltipster="bottom" class="wico tooltipstered">

            <img src="images/cooking.png" height="18" tooltipster="bottom" class="wico tooltipstered">

            <img src="images/clown.png" height="18" tooltipster="bottom" class="wico tooltipstered">

            <img src="images/football.png" height="18" tooltipster="bottom" class="wico tooltipstered">
          </div>

        </div>
      </div>
    </div>
  </article>
</div>
