<div class="title"><h1 class="h1red">Оформление заказа</h1></div>
<div class="small">
<article>
  <div *ngIf="isOrder">
  <form id="registration-form" class="form-pop-up-window button-registration">
    <div class="step01">
<div class="heads">Личные данные</div>
      <div class="input-group">
        <label>Телефон*</label>
        <input [(ngModel)]="order.phone" type="text" class="field w-input" autocomplete="false" data-mask="phone" maxlength="60" name="loginString" placeholder="Телефон*" required="">
      </div>
      <div class="input-group">
        <label>Фамилия*</label>
        <input [(ngModel)]="order.surname" type="text" class="field w-input" maxlength="60" autocomplete="false" pattern="[A-Za-zА-Яа-яЁё]{1,}" name="lastName" required="" placeholder="Фамилия*">
      </div>
      <div class="input-group">
        <label>Имя*</label>
        <input [(ngModel)]="order.name" type="text" class="field w-input" maxlength="60" autocomplete="false" pattern="[A-Za-zА-Яа-яЁё]{1,}" name="firstName" required="" placeholder="Имя*">
      </div>
      <div class="heads">Адрес ресторана для самовывоза</div>
      <div class="input-group">
        <label>Место самовывоза*</label>
          <select [(ngModel)]="order.address" name="address">
            <option *ngFor="let item of addressList" [ngValue]="item">{{item.address}}</option>
          </select>
         </div>
    </div>
    <div class="input-group time">
      <label>Время приготовления заказа: 50мин</label>
      </div>
    <div class="heads">Комментарии к заказу</div>
    <div class="input-group">
       <input [(ngModel)]="order.comment" type="textarea" class="field w-input" maxlength="60" autocomplete="false" name="firstName" required="" placeholder=" ">
    </div>
    <div class="registration-button-block">
      <input (click)="checkout()" type="submit" value="Оформить заказ" class="button registration-button w-button">

    </div>
  </form>
  </div>

  <div *ngIf="!isOrder">
    <div class="heads">Ваш заказ оформлен</div>
    <div class="registration-button-block">
      <input (click)="clickOrder()" routerLink="pizza" type="submit" value="заказать еще" class="button registration-button w-button">
    </div>
  </div>

</article>
</div>


