<div class="title"><h1 class="h1red">Оформление заказа</h1></div>
<div class="small">
<article>
  <form id="registration-form" class="form-pop-up-window button-registration">
    <div class="step01">

      <div class="input-group">

      <div class="input-group">
        <label>Телефон*</label>
        <input type="text" class="field w-input" autocomplete="false" data-mask="phone" maxlength="60" name="loginString" placeholder="Телефон*" required="">
      </div>
      </div>
      <div class="input-group">
        <label>Фамилия*</label>
        <input type="text" class="field w-input" maxlength="60" autocomplete="false" pattern="[A-Za-zА-Яа-яЁё]{1,}" name="lastName" required="" placeholder="Фамилия*">
      </div>

      <div class="input-group">
        <label>Имя*</label>
        <input type="text" class="field w-input" maxlength="60" autocomplete="false" pattern="[A-Za-zА-Яа-яЁё]{1,}" name="firstName" required="" placeholder="Имя*">
      </div>

    </div>
  </form>

</article>
</div>
