<div class="title"><h1 class="h1red">Авторизация</h1></div>
<div class="small">
  <article>
<div class="cartlist authorization">
  <div class="authorization-content">
    <div class="authorization-block">
      <div class="akcotitle">Авторизация</div>
      <form id="authorization-form" class="form-pop-up-window">
        <div class="input-group">
          <label>Логин</label>
          <input type="text" class="field w-input" maxlength="60" minlength="5" name="login" placeholder="Введите ваш логин" required="">
        </div>
        <div class="input-group">
          <label>Пароль</label>
          <input type="password" class="field w-input" minlength="6" maxlength="60" name="password" placeholder="Пароль" required="">
        </div>
        <input type="submit" id="authorization-button" value="Войти" class="button w-button">
        </form>
    </div>
    <div class="registration-block">
      <div class="akcotitle">Регистрация</div>
      <form id="registration-form" class="form-pop-up-window button-registration">
        <div class="step01">

          <div class="input-group">
            <label>Логин*</label>
            <input [(ngModel)]="user.login"  type="text" class="field w-input" autocomplete="false"  maxlength="60" name="loginString" placeholder="Логин*" required="">
          </div>

          <div class="input-group">
            <label>Телефон*</label>
            <input [(ngModel)]="user.phone"  type="text" class="field w-input" autocomplete="false" data-mask="phone" maxlength="60" name="loginString" placeholder="Телефон*" required="">
          </div>

          <div class="input-group">
            <label>Почта*</label>
            <input [(ngModel)]="user.email"  type="email" class="field w-input" autocomplete="false" maxlength="60" name="email" placeholder="Почта*" required="">
          </div>
          <div class="input-group">
            <label>Пароль</label>
            <input [(ngModel)]="passwordOne"  type="password" class="field w-input" autocomplete="false" maxlength="16" minlength="6" name="password" placeholder="Пароль*" required="">
          </div>

          <div class="input-group">
            <label>Повторите пароль*</label>
            <input [(ngModel)]="passwordTwo"  type="password" class="field w-input" autocomplete="false" maxlength="16" minlength="6" name="password2" placeholder="Повторите пароль*" required="">
          </div>
          <div class="pops tiz"></div>

          <div class="input-group">
            <label>Фамилия*</label>
            <input [(ngModel)]="user.surname"  type="text" class="field w-input" maxlength="60" autocomplete="false" pattern="[A-Za-zА-Яа-яЁё]{1,}" name="lastName" required="" placeholder="Фамилия*">
          </div>

          <div class="input-group">
            <label>Имя*</label>
            <input [(ngModel)]="user.name"  type="text" class="field w-input" maxlength="60" autocomplete="false" pattern="[A-Za-zА-Яа-яЁё]{1,}" name="firstName" required="" placeholder="Имя*">
          </div>
        </div>
        <div class="registration-button-block">
          <input (click)="registration()" type="submit" value="Зарегистрироваться" class="button registration-button w-button">
        </div>
      </form>
    </div>
  </div>
</div>
  </article>
</div>


