<div class="title"><h1 class="h1red">Напитки</h1></div>
<div class="small">
  <article>
    <div class="card">
      <div class="cardo" data-item="0" data-id="786584dc-a255-4da5-a020-1c58917d903e">
        <a class="photocard w-inline-block">
          <img src="assets/image/сок1.jpg">
        </a>
        <div class="cardopis">
          <div class="titcard">
            <div class="cardzago">Сок «Сочная долина» 0,5 л.</div>
          </div>
          <div class="opiscard">Напиток безалкогольный Сок «Сочная долина» персиковый</div>
          <div class="cardprice w-clearfix">
            <div class="priceca">1.20 р.</div>
          </div>
          <div><input type="button" name="box" class="box" value="В корзину"></div>
        </div>
      </div>
    </div>
  </article>
</div>
