<div class="title"><h1 class="h1red">Соусы</h1></div>
<div class="small">

  <article>

    <div class="card">
      <div *ngFor="let sauce of data">
        <div class="cardo" data-item="0" data-id="786584dc-a255-4da5-a020-1c58917d903e">
          <a class="photocard w-inline-block">
            <img src="assets/image/{{sauce.urlImg}}">

          </a>
                    <div class="cardopis">
            <div class="titcard">
              <div class="cardzago"> {{sauce.name}}</div>
            </div>
            <div class="opiscard">{{sauce.description}} </div>
            <div class="cardprice w-clearfix">
              <div class="priceca">{{sauce.price}}</div>
            </div>
            <div><input (click)="addToBasket(sauce)" type="button" name="box" class="box" value="В корзину">
            </div>
          </div>
          <div class="all_delete1"><input  *hasRole="['admin']" (click)="deleteSauceOnServer(sauce.id)" type="button" class="all_delete" value="Удалить"></div>
        </div>
      </div>
    </div>
  </article>
</div>
