<h1 class="h1red">Соусы</h1>
<div class="small">
  <article>

    <div class="card">

      <!--<div *ngFor="let data of sauces">-->
        <div class="cardo" data-item="0" data-id="786584dc-a255-4da5-a020-1c58917d903e">
          <a class="photocard w-inline-block">
            <img src="assets/image/соус1.png">
          </a>
          <div class="cardopis">
            <div class="titcard">
              <div class="cardzago">Соус Баребекю</div>
            </div>
            <div class="opiscard">Соус «Heinz» </div>
            <div class="cardprice w-clearfix">
              <div class="priceca">0.70 р.</div>
            </div>
            <div><input type="button" name="box" class="box" value="В корзину"></div>
          </div>
        </div>

    </div>
  </article>
</div>
