<div class="headr">
  <header>
    <div class="fix">
      <img src="assets/image/emblema.jpg" alt="cap">
      <div class="name">
        <p class="pizza">PIZZA</p>
        <p class="vesuvio"> Vesuvio</p>
      </div>
      <ul class="menu-main">
        <li><a routerLink="pizza" class="current">Пицца</a></li>
        <li><a routerLink="sauces" class="current">Соусы</a></li>
        <li><a routerLink="drinks" class="current">Напитки</a></li>
        <li><a routerLink="about-us" class="current">О нас</a></li>
        <li><a routerLink="contacts" class="current">Контакты</a></li>
        <li><a routerLink="home" class="current">Главная</a></li>
        <li><a routerLink="" class="current">Корзина</a></li>
      </ul>
      <div class="enter"><a routerLink="enter" class="registration">Вход/Регистрация</a></div>
    </div>
  </header>
</div>


<router-outlet></router-outlet>


<div class="foot">
  <footer>
    <div class="cop"><p class="pp">&copy;2018 by Dream Team<br>
      Privacy Policy</p>
    </div>
  </footer>
</div>

<div id="zatemnenie">
  <div id="okno">
    <form action="" class="ui-form">
      <h3>Войти на сайт</h3>
      <div class="form-row">
        <input type="text" id="email"  autocomplete="off"><label for="email">Email</label>
      </div>
      <div class="form-row">
        <input type="password" id="password"  autocomplete="off"><label for="password">Пароль</label>
      </div>
      <p><input type="submit" value="Войти"></p>
      <p><input type="button" name="button" id="button" value="Регистрация" onclick="windowOpen()"></p>
    </form>
    <a href="" class="close">X</a>
  </div>
</div>

<!--
<div id="modal-shadow" class="modal-shadow"></div>
<div id="modal-window" class="modal-window">
  <form action="" class="ui-form">
    <h3>Регистрация</h3>
    <div class="form-row">
      <input type="text" id="surname"  autocomplete="off"><label for="surname">Фамилия</label>
    </div>
    <div class="form-row">
      <input type="text" id="name"  autocomplete="off"><label for="name">Имя</label>
    </div>
    <div class="form-row">
      <input type="text" id="email1"  autocomplete="off"><label for="email">Email</label>
    </div>
    <div class="form-row">
      <input type="password" id="password1"  autocomplete="off"><label for="password">Пароль</label>
    </div>
    <p><input type="submit" value="Зарегистрироваться" ></p>
    <p><input type="submit" value="Вернуться ко входу на сайт" onclick="windowClose()"></p>

  </form>
</div>
-->
