<div class="headr">
  <header>
    <div class="fix">
      <div class="left">
        <ul class="menu-main">
          <li class="li1"><a routerLink="pizza" class="current">Пицца</a></li>
          <li class="li2"><a routerLink="sauces" class="current">Соусы</a></li>
          <li class="li3"><a routerLink="drinks" class="current">Напитки</a></li>

        </ul>
      </div>

      <table border="0" >
        <tr>
          <td class="tdp" ><div class="pizza">PIZZA</div></td>
          <td class="tds"><div><img src="assets/image/эмблема1.png" alt="cap"></div></td>
          <td class="tdv"><div class="vesuvio"> Vesuvio</div></td>
        </tr>
      </table>


<div class="right">
      <ul class="menu-main1">
        <li class="li1"><a routerLink="about-us" class="current">О нас</a></li>
        <li class="li2"><a routerLink="contacts" class="current">Контакты</a></li>
        <li class="li3"><a routerLink="/" class="current">Главная</a></li>
        <li class="li4"><a routerLink="admin" class="current">Администратор</a></li>
      </ul>
    </div>
      <div class="enter">
        <img src="assets/image/clients.png" class="vhod">
        <a routerLink="enter" class="registration">Войти</a></div>
    </div>
  </header>
</div>



<aside>
  <div class="card">

      <div class="cardo" data-item="0" data-id="786584dc-a255-4da5-a020-1c58917d903e">

        <div  class="cardopis">
         <div class="cardzago">Ваш заказ:</div>

              <div *ngFor="let pizza of pizzaList">
                <div class="product">
            <div class="pr_name">{{pizza.name}}</div>
            <div class="pr_size">{{pizza.size.size}}</div>
              <div class="pr_size">{{pizza.pastry.kind}}</div>
            <div>
            <div class="rub">{{pizza.price}} </div>
            </div>
            <div>
              <button (click)="deletePizza(pizza)" type="button" class="pr_delete">Удалить</button>
            </div>
              </div>
            </div>

              <div *ngFor="let sauce of sauceList">
                <div class="product">
                <div class="pr_name">{{sauce.name}}</div>
                <div>
                  <div class="rub">{{sauce.price}} </div>
                </div>
                <div><button (click)="deleteSauce(sauce)" class="pr_delete">Удалить</button></div>
                </div>
              </div>

              <div *ngFor="let drinks of drinksList">
                <div class="product">
                <div class="pr_name">{{drinks.name}}</div>
                <div>

                  <div class="rub">{{drinks.price}} </div>
                </div>
                <div>
                  <button (click)="deleteDrinks(drinks)" class="pr_delete">Удалить</button>
                </div>
                </div>
              </div>


          <div class="opiscard">
            <div class="total_cost">Общая стоимость:</div>
           {{getTotalCost()}}
          </div>
          <div class="advertising" >
            <div class="b">
              <b>Возьмите к пицце<br> напитки</b>
            </div>
            <div class="top50"><input type="button" name="adv_drink" class="adv_drink" value="Выбрать напитки" routerLink="drinks"></div>
          </div>
          <div><input type="button" name="order" class="order" value="Оформить заказ" routerLink="order" ></div>

        </div>
      </div>
    </div>


</aside>


<router-outlet></router-outlet>

<div class="foot">
  <footer>
    <div class="cop"><p class="pp">&copy; Copyright 2018 Dream Team. Privacy Policy</p>
    </div>
    <img src="assets/image/значки.png" width="160px" height="70px" class="social">
  </footer>
</div>


