<div class="title"><h1 class="h1red">Администратор</h1></div>
<div class="small">
  <article>
    <table class="adm">
      <tr>
        <td rowspan="2" width="200">Номер телефона клиента</td>
        <td rowspan="2" width="200">Имя и фамилия клиента</td>
        <th colspan="3">Составляющие заказа</th>
        <td rowspan="2" width="50">Подтвердить<br> заказ</td>
      </tr>
      <tr>
        <th>Пицца</th>
        <th>Напитки</th>
        <th>Соусы</th>
      </tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><p><button class="checkbox" name="a" value="Подтверждён">Подтвердить</button></p></td>

    </table>
  </article>
</div>
