
.adm{

  /*border: 1px solid #399; *//* Граница вокруг таблицы */
  border-collapse: collapse;
  width: 100%;
  /*background-color:antiquewhite;*/
  background-color: #fff;
  padding: 10px;
  border: 3px solid #ebecec;
box-shadow: 0px 0px 15px ;

}

.two{
  width: 95%;
  border-spacing: 0px 20px;

}

.but{
  text-align: center;
  background-color: inherit;
  padding: 5px;
  border: none;
  color: #8B7355;
  font-size: 16px;
  font-weight: bold;
}

td, th{
  text-align: center;
  background-color: #fff;
  padding: 5px;
  border: 3px solid #ebecec;
  color: #8B7355;
  font-size: 16px;
  font-weight: bold;
}

.table1{
  /*border: 1px solid #399; *//* Граница вокруг таблицы */
  border-collapse: collapse;
  width: 95%;
  /*background-color:antiquewhite;*/
  background-color: #fff;
  padding: 10px;
  border: none;


}

.td1, .th1{
  text-align: center;
  background-color: #fff;
  padding: 0px;
  border: none;
  color: #8B7355;
  font-size: 16px;
  font-weight: bold;
}

.checkbox{
   border-radius: 10px;
  font-size: 14px;
}

.icons{
  width: 40px;
  height: 40px;
}

.order{
  width: 100%;
  padding: 10px;
  line-height: 42px;
  background: #DEB887;
  border-radius: 10px;
  border-width: 0;
  color: white;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
