<div class="title"><h1 class="h1red">Администратор</h1></div>
<div class="small">
  <article>
    <table class="two">
      <tr>
    <table class="buttons">
      <tr>
        <td class="but"><div><input type="button" name="add" class="order" value="Добавление товаров" routerLink="add_food" ></div></td>
        <td class="but"><div><input type="button" name="change" class="order" value="Редактирование товаров" routerLink="order" ></div></td>
      </tr>
    </table>
      </tr>
      <tr>
    <table class="adm">
      <tr>
        <!--<td rowspan="2" width="70">Номер заказа</td>-->
        <td rowspan="2" width="100">Номер телефона клиента</td>
        <td rowspan="2" width="150">Имя и фамилия клиента</td>
        <th colspan="3">Составляющие заказа</th>
        <td rowspan="2" width="70">Сумма<br> заказа</td>
        <td rowspan="2" width="50">Подтвердить<br> заказ и оплату </td>
       <!-- <td rowspan="2" width="50">Оплатить<br> заказ</td>-->
      </tr>
      <tr>
        <th>Пицца</th>
        <th width="180">Напитки</th>
        <th>Соусы</th>
      </tr>
      <!--<td></td>-->

      <tr *ngFor="let item of data">
        <td>{{item.userByIdClient.phone}}</td>
        <td>{{item.userByIdClient.name+ " " + item.userByIdClient.surname }}</td>

          <td>
            <div *ngFor="let itemPizza of item.orderPizzasById">
              {{itemPizza.pizzaByIdPizza.name+ " " + itemPizza.sizepizzaByIdSizePizza.size+ " " +itemPizza.pastryByIdPastry.kind}}
            </div>
          </td>

          <td>
            <div *ngFor="let itemDrinkables of item.drinkables">
              {{itemDrinkables.name}}
            </div>
          </td>

          <td>
            <div *ngFor="let itemSauce of item.sauces">
              {{itemSauce.name}}
            </div>
          </td>

        <td>{{item.totalPrice}}</td>

        <td>
          <table class="table1">
            <tr class="td1">
              <td class="td1">
                  <div #newDrow>
                <p><input (click)="confirmedOrder(item)" *ngIf="item.confirmed== 'false'" (change)="newDrow" type="image" src="assets/image/check_mark.png"  class="icons"></p>
                  </div>
              </td>
              <td class="td1">
                <p><input *ngIf="item.paidFor== 'false'" (click)="paidForOrder(item)" type="image" src="assets/image/wallet.png"  class="icons"></p>
              </td>
            </tr>
          </table>
        </td>
        </tr>


      <!--<td></td>-->
    </table>
      </tr>
    </table>
  </article>
</div>
