
table{
  /*border: 1px solid #399; *//* Граница вокруг таблицы */
  border-collapse: collapse;
  width: 95%;
  /*background-color:antiquewhite;*/
  background-color: #fff;
  padding: 10px;
  border: 3px solid #ebecec;


}

td, th{
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border: 3px solid #ebecec;
  color: #8B7355;
  font-size: 16px;
  font-weight: bold;

}

.checkbox{
   border-radius: 10px;
  font-size: 14px;
}

