<div class="title"><h1 class="h1red">Отзывы</h1></div>
<div class="small">
  <article>
    <table class="tab1">
    <tr>
    <table class="tab">
      <tr class="tr">
        <td> Привет, Кирилл)) Здесь будет наш отзыв!</td>
       <td class="cross"><input type="image" src="../assets/image/cross.png"></td>
      </tr>
    </table>
    </tr>
      <tr class="but">
        <input  type="textarea" сlass="input" maxlength="1000" autocomplete="false" name="add1"  placeholder="Мы будем рады, если вы оставите здесь свой комментарий о нашей пиццерии.">
      </tr>
    <tr class="but">
     <input  type="button" name="add" class="order" value="Оставить отзыв">
    </tr>
    </table>
  </article>
</div>
