<div class="title"><h1 class="h1red">Отзывы</h1></div>
<div class="small">
  <article>
    <table class="tab1">
    <tr>
    <table class="tab">
      <tr *ngFor="let item of data" class="tr">
        <td> {{item.text}}</td>
       <td *hasRole="['admin']"  (click)="deleteReviews(item)" class="cross"><input type="image" src="../assets/image/cross.png"></td>
      </tr>
    </table>
    </tr>
      <tr class="but">
        <input [(ngModel)]="reviews.text"  type="textarea" сlass="input" maxlength="1000" autocomplete="false" name="add1">
      </tr>
    <tr class="but">
     <input  (click)="addReviews()" type="button" name="add" class="order" value="Оставить отзыв">
    </tr>
    </table>
  </article>
</div>
