<div class="title"><h1 class="h1red">Пицца</h1></div>
<div class="small">
  <article>

    <div class="card">
      <div *ngFor="let pizza of data">
      <div class="cardo" data-item="0" data-id="786584dc-a255-4da5-a020-1c58917d903e">

        <a class="photocard w-inline-block">
          <img src="assets/image/{{pizza.urlImg}}">
        </a>

        <div class="cardopis">

          <div class="titcard">
            <div class="cardzago">Пицца {{pizza.name}} </div>
          </div>

          <div class="opiscard"><b>Состав:</b>
            <div *ngFor="let ingredient of pizza.ingredients">
              {{ingredient.name}}
            </div>
          </div>

          <div class="select_size">
            <select>
            <option>Традиция 23см</option>
            <option>Традиция 30см</option>
            <option>Традиция 35см</option>
            <option>Традиция 40см</option>
            <option>Тонкое 30см</option>
            <option>Тонкое 35см</option>
            <option>Тонкое 40см</option>
          </select></div>

          <div class="opiscard"><b>Калорийность:</b> {{pizza.caloricity}}</div>

          <div class="cardprice w-clearfix">
            <div class="priceca">{{pizza.price}}</div>
          </div>

          <div><input type="button" name="box" class="box" value="В корзину"></div>

        </div>
      </div>
      </div>
    </div>
  </article>
</div>
