<div class="title"><h1 class="h1red">Пицца</h1></div>
<div class="small">
  <article>

    <div class="card">
      <div *ngFor="let pizza of data">
      <div class="cardo" data-item="0" data-id="786584dc-a255-4da5-a020-1c58917d903e">

        <a class="photocard w-inline-block">
          <img src="assets/image/{{pizza.urlImg}}">
        </a>

        <div class="cardopis">

          <div class="titcard">
            <div class="cardzago">Пицца {{pizza.name}} </div>
          </div>

          <div class="opiscard"><b>Состав:</b>
            <div *ngFor="let ingredient of pizza.ingredients">
              {{ingredient.name}}
            </div>
          </div>

          <div class="select_size">
            <select [(ngModel)]="sizePizza" >
            <option *ngFor="let sizeName of sizes" [ngValue]="sizeName">{{sizeName.size}}</option>
          </select>
          </div>

          <div class="opiscard"><b>Калорийность:</b> {{pizza.caloricity*sizePizza.coefficient}}</div>

          <div class="cardprice w-clearfix">
            <div class="priceca">{{pizza.price*sizePizza.coefficient}}</div>
          </div>

          <div>
            <input (click)="addToBasket(pizza, sizePizza)"  type="button" name="box" class="box" value="В корзину">
          </div>

        </div>
      </div>
        <div class="all_delete1"><input type="button" class="all_delete" value="Удалить"></div>
      </div>
    </div>
  </article>
</div>
