<h1 class="h1red">Пицца</h1>
<div class="small">
  <article>

    <div class="card">
      <div class="cardo" data-item="0" data-id="786584dc-a255-4da5-a020-1c58917d903e">
        <a class="photocard w-inline-block">
          <img src="assets/image/пицца_Гавайская.jpg">
        </a>
        <div class="cardopis">
          <div class="titcard">
            <div class="cardzago">Пицца Гавайская </div>
          </div>
          <div class="opiscard"><b>Состав:</b>  Фирменный томатный соус, ветчина, ананасы, сыр моцарелла</div>
          <div class="select_size">
            <select>
            <option>23 см</option>
            <option>30 см</option>
          </select></div>
          <div class="opiscard"><b>Калорийность:</b> 500 ккал</div>
          <div class="cardprice w-clearfix">
            <div class="priceca">20 р.</div>
          </div>
          <div><input type="button" name="box" class="box" value="В корзину"></div>
        </div>
      </div>

    </div>
  </article>
</div>
