<div class="title"><h1 class="h1red">Главная</h1></div>
<div class="small">
  <article>
    <table>
      <tr>
      <img src="assets/image/реклама3.png" class="w-inline-block" width="100%">
      </tr>

      <tr>
        <img src="assets/image/реклама1.png" class="w-inline-block w" width="100%">
      </tr>
      <tr>
    <div class="preim">
      <div class="prebl main-link actions">
        <div class="fast"><img src="assets/image/акции.png" width="90">
          <div class="titlepreim">Акции</div>
          <div class="morepreim">Участвуйте в акциях<br>и получайте скидки</div>
        </div>
        <div class="rline"></div>
      </div>
      <div class="prebl main-link delivery">
        <div class="fast"><img src="assets/image/коробка.PNG" width="90">
          <div class="titlepreim">Быстрое приготовление</div>
          <div class="morepreim">Приготовим за 25 минут<br>или подарим пиццу</div>
        </div>
      </div>
      <div class="prebl main-link catalog">
        <div class="fast"><img src="assets/image/заказ.png" width="90">
          <div class="titlepreim">Онлайн заказ</div>
          <div class="morepreim">Заказ поступает к нам<br>уже через несколько секунд</div>
        </div>
        <div class="rline"></div>
      </div>
      <div class="prebl main-link restaurants">
        <div class="fast"><img src="assets/image/ресторан.png" width="90">
          <div class="titlepreim">3 ресторана</div>
          <div class="morepreim">Приходите к нам!<br>У нас очень вкусно и уютно!</div>
        </div>
      </div>
    </div>
      </tr>
    </table>
  </article>
</div>
